body{
    font-family: 'Lato', sans-serif;
    color: white;
    background-color: black;
}
.container{
    background: url(./assets/bg.jpg) ;
    background-size: 1400px 900px;
    width: 80%;
    margin: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
td{
    border-bottom: 1px solid rgb(167, 165, 165);
}
.hide{
    border-bottom: none;
}
.right{
    display: flex;
    flex-direction: column;
    align-items:initial;
    padding:30px;
}
.heading{
    margin-left: 300px;
    padding-top: 10px;
}
img{
    margin-left: 60px;
}
h1{
    font-weight: 1500;
    font-size: 60px;
}
h3{
    font-style: italic;
    font-size: 25px;
    margin-left: 23px;
}
li{
    font-weight: lighter;
    font-size: larger;
}
p{
    font-weight: 800;
    font-size: large;
}